*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background: #222;
    font-family: sans-serif;
    color:antiquewhite;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: goldenrod; */
    margin: 0 auto;
    color: black;
    font-weight: 900;
    width: 1200px;
    /* border: dashed 2px black; */
    padding: 2rem;
}

.menù{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    color: antiquewhite;
}


header{
    /* background-color: aquamarine; */
    padding: 0.5rem;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

.button{
    background: white;
    padding: 1rem;
    color:black;
    border: none;
    border-radius: 3rem;
}

.mac{
    background: white;
    padding: 1rem;
    color:black;
    border: none;
    border-radius: 3rem;
}

.browser{
    background: #222;
    padding: 1rem;
    color:whitesmoke;
    border: none;
    border-radius: 3rem;
}


.container{
    /* background-color: blue; */
    display: flex;
    justify-content: center;
}

.connection{
    text-align: center;
    margin-top: 1rem;
}


.square{
    /* background-color: blueviolet; */
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
    /* height: 15rem;
    width: 15rem; */
    color: antiquewhite;
    text-align: center;
}

h2{
    margin-bottom: 2rem;
    text-align: center;
}


.big-column {
    /* display: flex;
    justify-content:center; */
    padding: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    color: #222;
}


.small-column {
    /* display: flex;
    justify-content: start; */
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.container2{
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}

.container3{
    display: flex;
    justify-content: center;
    background-color:antiquewhite;
    color: black;
}

.container4{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
}

.c5{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    align-items: center;
    color: black;
}

.sfondo{
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: cover;
    font-size: large;
    margin-bottom: 2rem;
}

.mac2{
    border-radius: 3rem;
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 1rem;
    border: none;
    text-align: center;
    margin-top: 2rem;
}





